/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* My Code Starts here */

.container {
  margin: auto;
  max-width: 870px;
}

@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
header {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  header {
    background: red;
    text-align: center;
  }
}

nav {
  padding-top: 25px;
}

nav a {
  padding-right: 55px;
  color: #dcdcdc;
  text-decoration: none;
}

@media (max-width: 500px) {
  nav a {
    border-top: 1px solid gray;
  }
}
.logo {
  padding-top: 15px;
}

.upper-content {
  border-bottom: 2px solid black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

h1 {
  font-size: 60px;
}

button {
  padding: 5px 40px 5px;
  border: 1px solid black;
}
.top-page {
  margin-left: 50px;
}

.circle-web {
  max-width: 350px;
  max-height: 350px;
  margin-left: 100px;
}

.mid-content {
  display: flex;
}

.mid-content h2 {
  margin: 25px 0 15px 0;
}

.long-img {
  width: 100%;
  max-height: 150px;
  margin: 25px 0;
}

.lower-content {
  display: flex;
  border-bottom: 2px solid black;
  padding-bottom: 25px;
}

.contact {
  margin-top: 25px;
}

address {
  margin-bottom: 15px;
}

footer {
  text-align: center;
  margin-top: 30px;
}
